# Data Science Tools and Ecosystem

In this notebook, we will be summarizing some of the skills that we have learned in our *IBM Data Science Certificate* progression.

We will start with an ordered list.  I will itemize three major languages that Data Scientists regularly use.

1. Python
2. SQL
3. R

Below, I will itemize three libraries that Data Scientists regularly use.

1. ggplot
2. matplotlib
3. dplyr

Below is a table showing some of the development enviroments that Data Scientists work in.

|Data Science Tools|
|-|
|Jupyter Labs|
|R Studio|
|Visual Studio|

### Below are a few examples of evaluating maths expressions in Python.

In [1]:
## This a simple expression where I mutiply then add integers.

(3*4)+5

17

In [1]:
## In this codecell, I will arithmaticly convert minuites to hours.

m=200
h=60
print(m/h)

3.3333333333333335

Objectives:
* Understanding how to deploy ordered and ordered lists.
* Understanding the difference between code cells and markdown cells.
* Understanding the use of H1 - H3 markup notation.
* Understanding the execution of code.
* Understanding how to rename and save a notebook in the Jupyter IDE.

## Author
Samuel Ian Martin